<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Alumnos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://127.0.0.1:5000"><strong>Registro de Alumnos</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('contacts.index') }}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contacts.about') }}">Agregar Alumno</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Listado de Alumnos</h1>
    <a href="{{ url_for('contacts.about') }}" class="btn btn-warning mb-4">Agregar Alumno</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Carrera</th>
                <th>País</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{contact.id}}</td>
                <td>{{contact.nombre}}</td>
                <td>{{contact.apellido}}</td>
                <td>{{contact.telefono}}</td>
                <td>{{contact.carrera}}</td>
                <td>{{contact.pais}}</td>
                <td>
                    <a href="{{ url_for('contacts.update', id=contact.id) }}" class="btn btn-warning">Editar</a>
                    <a href="{{ url_for('contacts.delete', id=contact.id) }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<footer class="bg-dark text-light text-center py-3 mt-5 fixed-bottom">
    <p>&copy; 2023 Registro Alumno.</p>
</footer>

</body>
</html>
