<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://127.0.0.1:5000">Registro de Alumnos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contacts.index') }}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contacts.about') }}">Agregar Alumno</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <form action="/update/{{contact.id}}" method="POST">
        <h2 class="mb-4">Actualizar Alumno</h2>

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input value="{{contact.nombre}}" type="text" class="form-control" name="nombre" placeholder="Escribe tu nombre">
        </div>

        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input value="{{contact.apellido}}" type="text" class="form-control" name="apellido" placeholder="Escribe tu apellido">
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input value="{{contact.telefono}}" type="text" class="form-control" name="telefono" placeholder="Escribe telefono">
        </div>

        <div class="form-group">
            <label for="carrera">Carrera:</label>
            <input value="{{contact.carrera}}" type="text" class="form-control" name="carrera" placeholder="Escribe carrera">
        </div>

        <div class="form-group">
            <label for="pais">País:</label>
            <input value="{{contact.pais}}" type="text" class="form-control" name="pais" placeholder="Escribe país">
        </div>

        <button class="btn btn-primary">Guardar</button>
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
<footer class="bg-dark text-light text-center py-3 mt-5 fixed-bottom">
    <p>&copy; 2023 Registro Alumno.</p>
</footer>
</html>
